<a href="https://colab.research.google.com/github/yje0515/PythonStudy2025/blob/main/1030study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
one = 1
two = 2
three = one+two
print(three)

3

In [ ]:
# 숫자형
# Number type  : 정수 실수 8진수 16진수 2진수 등을 표현한다
a = 123
print(a)
# 셀 별로 나눠서 실행시켜서 효율적으로 프로그램을 돌린다~

123

In [ ]:
# 실수형
a = 1.2
a = -3.45
print(a)

-3.45

In [ ]:
a = 2E2 # 2 * 10^2
print(a)

200.0

In [ ]:
# 8 진수 (octal)로 변환
a = 0o177 # 177 -> 8^2*1+8^1*7+8^0*7 = 127
print(a)
# 16진수 (hexadecimal)로 변환
b = 0x111 # 16^2*1 + ... = 273
print(b)

In [ ]:
a = 2
b = a**2 # 제곱
print(b)
c = 10
d = 10//3 # 몫의 정수값만 반환
print(d)

4
3

In [ ]:
# 문자열 자료형
a = "Life is too short, \n\"'You'\" need Python"
print(a)
b = """
엔터를
자유롭게
할 수 있다 \a\a\a
"""
print(b)
# 문자열 연산하기
top = "Hi "
middle = "my name is "
bottom = "jieun"
print(top+middle+bottom)


print("="*20)
# 문자열의 길이 length()

# 인덱싱과 슬라이싱
a = "Hello Python Good bye"
print(a)
a[4]
print("="*20)
print(a[0:5]+" "+a[13:])
print("="*20)
a[-8:]
a = "01234567HEY"
a[8:]
num = a[:7]
print(num)
print("="*20)

Life is too short,
"'You'" need Python

엔터를
자유롭게
할 수 있다 

Hi my name is jieun
NoNo
====================
Hello Python Good bye
====================
Hello Good bye
====================
HEY
0123456
====================

In [ ]:
# 문자열 바꾸기
a = "Pithon"
a[1]
# a[1] = 'y' 오류!
print(a[:1]+'y'+a[2:]) # 슬라이싱!
 # 포매팅
a = "오늘의 기온은 %d도"%18
print(a)
# 두개 이상의 포매팅
a = "오늘은 %d월 %d일" %(10,30)
print(a)
a = "비가 올 확률은 %d%%" %99
print(a)
# float
a = "%.4f"%3.42134234 # 0을 생략할 수 있다
print(a)
a = "I Seoul {0}".format("you")
print(a)
# 두개 이상의 format 함수를 이용한 포매팅
a = "Python is {0}, but {1}".format("easy","hard")
print(a)
str1 = "easy"
str2 = "hard"
a = f"Python is {str1}, but {str2}"
print(a)
# 콤마 찍기
f"로또 {5000000000:,}원 당첨!"
a = "lotto"
a.count('t') # 문자 b의 개수 반환
a.find('o') # 문자 o의 첫번째 위치(인덱스) 반환
a.upper()
a.lower()
','.join(['a','b','c']) # 사이사이에 join
a.index('t') # find와 다르게 존재하지 않는 문자를 찾으면 오류가 발생한다.
# 왼쪽공백 lstrip 오른쪽 공백rstrip
a = "   strip   "
a.lstrip()
a.rstrip().lstrip() # 그냥 strip 하면 양쪽 다 공백 사라짐

Python
오늘의 기온은 18도
오늘은 10월 30일
비가 올 확률은 99%
3.4213
I Seoul you
Python is easy, but hard
Python is easy, but hard

'strip'

In [ ]:
s = "마라탕 먹고싶다"
s.startswith("마라")
s.endswith("마라")

False

In [ ]:
# 리스트 자료형
arr = [1,2,3,4,[5,6,7]]
a = list()
print(arr)
print(a)
arr[0]
arr[1]+arr[2] # 2+3
arr[-1] # 마지막 요솟값
arr[-1][0]
arr[:2]
arr[2:]
arr[4][:2]
arr2 = [8,9,10]
arr3 = arr+arr2
print(arr3)
arr*2
print('='*33)
len(arr)
st1 = str(arr[1])+"toString"
print(st1)
arr[0] = 0
print(arr)
del arr[0]
arr
arr.append(8)
array = [3,2,1]
array.sort()
array
array.reverse()
array

[1, 2, 3, 4, [5, 6, 7]]
[]
[1, 2, 3, 4, [5, 6, 7], 8, 9, 10]
=================================
2toString
[0, 2, 3, 4, [5, 6, 7]]

[3, 2, 1]

In [25]:
# 인덱스 반환
a = ['a','b','c']
a.index('a')
# 리스트에 요소 삽입(인덱스)
a = [1,2,3]
a.insert(0,100)
a
# 첫번째로 나오는 해당 요소 삭제
a = [1,2,3,1,2,3]
a.remove(1)
a
a.remove(1)
a
# 맨 마지막 요소 삭제
a.pop()
a
# index 요소 삭제
a.pop(2)
a
# 해당 요소 갯수 세기
a = [1,2,3,4,1,1,1]
a.count(1)
# 리스트 확장
a = [0,1,2]
a.extend([3,4])
a
a.extend([[5,6,7]])
a += [8,9]
a

[0, 1, 2, 3, 4, [5, 6, 7], 8, 9]

In [28]:
# 튜플 자료형
# 리스트는 대괄호[] 튜플은 소괄호()
# 튜플은 요소값을 바꿀 수 없다 삭제 X 변경 X
t1 = (1,) # 요소값 하나만 가질 때 콤마 쉼표 붙여주기
t2 = (1,2)
t3 = ('a','b','c')
# 인덱싱, 슬라이싱, 더하기, 곱하기 , 길이는 일반 리스트와 똑같음

1

In [52]:
# 딕셔너리 자료형 Hash(key,value) associative array # 자바 HashMap과 유사하다
dic = {'name':'jieun','age':29,'birth':515}
# 딕셔너라 쌍 추가 / 삭제
a = {1:'a'}
a[2] = 'b' # a[key] = value
a
dic['hobby'] = 'Overwatch'
dic
del dic['age'] # del dic[key]
dic
# key를 이용해 value 얻기
dic['name']
# key는 고유한 값, 중복되는 key 값 설정시 한쌍을 제외하고 무시됨
# 딕셔너리 관련 함수
dic.keys() # 딕셔너리의 key만 모은 dict_keys를 반환, 반복구문 사용 가능, append,insert,pop,remove,sort X
# 리스트로 값을 받고 싶으면 list() 함수 사용
dic_list = list(dic.keys())
dic_list
for k in dic.keys():
    print(k)
# value 리스트 만들기
dic.values() # dict_values 객체를 반환
# key,value 쌍 얻기
dic.items() # key,value의 쌍을 튜플로 묶은 값을 dict_items 객체로 반환
# key, value 쌍 모두 지우기
dic.clear()
dic
# key로 value 얻기 get
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
a.get('name')
print('='*30)
a.get('noKey') # None(false)를 반환
# a['nokey'] # 오류
a.get('noKey','정보없음') # default value 를 설정

name
birth
hobby
==============================

'정보없음'

In [56]:
# 딕셔너리 안에 해당 key가 있는지 조사하기
'name' in a # True
'hobby' in a # false
# key로 value 얻기 pop
phone = a.pop('phone') # 딕셔너리에서 키에 해당하는 쌍을 삭제!한 후 value를 반환한다
phone
email = a.pop('email','정보없음') # default value
email

'정보없음'

In [74]:
# 집합 자료형 set
s1 = set([1,2,3])
s1
s2 = set('hello') # 순서가 마구잡이다! 중복이 허용되지 않는다!
s2
s3 = {1,2,3}
s3
# s = set() / s = {} <<딕셔너리가 됨 주의
# unordered의 성질 때문에 인덱싱 X 인덱싱으로 접근하려면 리스트나 튜플로 변환
s1 = set([1,2,3])
li = list(s1)
li.reverse()
li

# 교집합, 합집합, 차집합
s1 = set([1,2,3,4,5])
s2 = set([4,5,6,7,8])
s1 & s2 # 교집합 intersection()
s1 | s2 # 합집합 union()
s1 - s2 # 차집합 difference()
# 값 1개 추가하기
s2.add(9)
s2
# 값 여러개 추가하기
s1.update([6,7])
s1
# 특정 값 제거
s1.remove(7)
s1
# 존재하지 않는 값을 제거하려고 해도 오류가 발생하지 않음
s1.discard(10)
s1
# 모든 값 제거
s1.clear()
s1

set()

In [88]:
 # 불 자료형 true/false X True/False 와 같이 첫글자는 대문자
a = True
b = False
type(a)
type(b)
# 비교연산자 조건문으로 불 자료형 반환
1==1 # True
2>1 # True
3<1 # False
# 문자열, 리스트, 튜플, 딕셔너리 등의 값이 비어있으면 False 0은 False None은 False
# 활용
a = [1,2,3,4]
while a:
    print(a.pop()) # a 리스트가 빌 때 까지 마지막 요소를 삭제,반환,출력

if []:
    print("참")
else:
    print("거짓")

# 논리 연산자
True and True # True
True and False # False
True or False # True
not True # False
not False # True
not 0 # True
# 활용
x = 5
y = 10
x > 0 and y >0
not(x>y)

4
3
2
1
거짓

True

In [118]:
# 변수
# 영문자, 숫자, 언더스코어_ 만 사용 가능
# 숫자로 시작할 수 없음
# 예약어 사용불가
# 대소문자 구분
# snake_case 권장

# 변수 객체
a = 512
b = 512
a is b
print("a:"+str(id(a))+"  b:"+str(id(b))) # 257부터 메모리 주소가 달라서 is는 False가 나온다!
print('='*36)
# 리스트 복사
a = [1,2,3]
b = a # 변수 b가 변수 a가 참조하는 리스트 객체의 메모리 주소값을 같이 가짐
b is a # True a와 b가 가리키는 객체가 같음, 추가 수정 삭제시 같이 적용됨

# 값만 복사
a = [1,2,3]
b = a[:]
b
a is b # False 리스트 전체의 값만을 복사함 위와 같음

# copy copy() a.copy()
from copy import copy
b = copy(a)
b is a # False

a:137870698161008  b:137870698156080
====================================

False

In [129]:
# 변수로 만드는 여러가지 방법
a,b = ('one','two')
[a,b] = [1,2]
type(a)
print(a)
a = b = 'python'
print(a)
print(b)
a,b = 3,5
a,b = b,a # 서로 값을 간단하게 바꿀 수 있다
print(a)
print(b)

1
python
python
5
3