<a href="https://colab.research.google.com/github/yje0515/PythonStudy2025/blob/main/1030study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
one = 1
two = 2
three = one+two
print(three)

3

In [ ]:
# 숫자형.. 나 왔네
# Number type  : 정수 실수 8진수 16진수 2진수 등을 표현한다
a = 123
print(a)
# 셀 별로 나눠서 실행시켜서 효율적으로 프로그램을 돌린다~

123

In [ ]:
# 실수형
a = 1.2
a = -3.45
print(a)

-3.45

In [ ]:
a = 2E2 # 2 * 10^2
print(a)

200.0

In [ ]:
# 8 진수 (octal)로 변환
a = 0o177 # 177 -> 8^2*1+8^1*7+8^0*7 = 127
print(a)
# 16진수 (hexadecimal)로 변환
b = 0x111 # 16^2*1 + ... = 273
print(b)

In [ ]:
a = 2
b = a**2 # 제곱
print(b)
c = 10
d = 10//3 # 몫의 정수값만 반환
print(d)

4
3

In [ ]:
# 문자열 자료형
a = "Life is too short, \n\"'You'\" need Python"
print(a)
b = """
엔터를
자유롭게
할 수 있다 \a\a\a
"""
print(b)
# 문자열 연산하기
top = "Hi "
middle = "my name is "
bottom = "jieun"
print(top+middle+bottom)


print("="*20)
# 문자열의 길이 length()

# 인덱싱과 슬라이싱
a = "Hello Python Good bye"
print(a)
a[4]
print("="*20)
print(a[0:5]+" "+a[13:])
print("="*20)
a[-8:]
a = "01234567HEY"
a[8:]
num = a[:7]
print(num)
print("="*20)

Life is too short,
"'You'" need Python

엔터를
자유롭게
할 수 있다 

Hi my name is jieun
NoNo
====================
Hello Python Good bye
====================
Hello Good bye
====================
HEY
0123456
====================

In [ ]:
# 문자열 바꾸기
a = "Pithon"
a[1]
# a[1] = 'y' 오류!
print(a[:1]+'y'+a[2:]) # 슬라이싱!
 # 포매팅
a = "오늘의 기온은 %d도"%18
print(a)
# 두개 이상의 포매팅
a = "오늘은 %d월 %d일" %(10,30)
print(a)
a = "비가 올 확률은 %d%%" %99
print(a)
# float
a = "%.4f"%3.42134234 # 0을 생략할 수 있다
print(a)
a = "I Seoul {0}".format("you")
print(a)
# 두개 이상의 format 함수를 이용한 포매팅
a = "Python is {0}, but {1}".format("easy","hard")
print(a)
str1 = "easy"
str2 = "hard"
a = f"Python is {str1}, but {str2}"
print(a)
# 콤마 찍기
f"로또 {5000000000:,}원 당첨!"
a = "lotto"
a.count('t') # 문자 b의 개수 반환
a.find('o') # 문자 o의 첫번째 위치(인덱스) 반환
a.upper()
a.lower()
','.join(['a','b','c']) # 사이사이에 join
a.index('t') # find와 다르게 존재하지 않는 문자를 찾으면 오류가 발생한다.
# 왼쪽공백 lstrip 오른쪽 공백rstrip
a = "   strip   "
a.lstrip()
a.rstrip().lstrip() # 그냥 strip 하면 양쪽 다 공백 사라짐

Python
오늘의 기온은 18도
오늘은 10월 30일
비가 올 확률은 99%
3.4213
I Seoul you
Python is easy, but hard
Python is easy, but hard

'strip'

In [ ]:
s = "마라탕 먹고싶다"
s.startswith("마라")
s.endswith("마라")

False

In [ ]:
# 리스트 자료형
arr = [1,2,3,4,[5,6,7]]
a = list()
print(arr)
print(a)
arr[0]
arr[1]+arr[2] # 2+3
arr[-1] # 마지막 요솟값
arr[-1][0]
arr[:2]
arr[2:]
arr[4][:2]
arr2 = [8,9,10]
arr3 = arr+arr2
print(arr3)
arr*2
print('='*33)
len(arr)
st1 = str(arr[1])+"toString"
print(st1)
arr[0] = 0
print(arr)
del arr[0]
arr
arr.append(8)
array = [3,2,1]
array.sort()
array
array.reverse()
array

[1, 2, 3, 4, [5, 6, 7]]
[]
[1, 2, 3, 4, [5, 6, 7], 8, 9, 10]
=================================
2toString
[0, 2, 3, 4, [5, 6, 7]]

[3, 2, 1]

In [25]:
# 인덱스 반환
a = ['a','b','c']
a.index('a')
# 리스트에 요소 삽입(인덱스)
a = [1,2,3]
a.insert(0,100)
a
# 첫번째로 나오는 해당 요소 삭제
a = [1,2,3,1,2,3]
a.remove(1)
a
a.remove(1)
a
# 맨 마지막 요소 삭제
a.pop()
a
# index 요소 삭제
a.pop(2)
a
# 해당 요소 갯수 세기
a = [1,2,3,4,1,1,1]
a.count(1)
# 리스트 확장
a = [0,1,2]
a.extend([3,4])
a
a.extend([[5,6,7]])
a += [8,9]
a

[0, 1, 2, 3, 4, [5, 6, 7], 8, 9]

In [ ]:
# 튜플 자료형
# 리스트는 대괄호[] 튜플은 소괄호()
# 튜플은 요소값을 바꿀 수 없다
t1 = (1,) # 요소값 하나만 가질 때 콤마 쉼표 붙여주기
t2 = (1,2)
t3 = ('a','b','c')